.dialogBoxContainer{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dialogBoxMain{
    height: fit-content;
    width: fit-content;
    max-width: 90%;
    max-height: 90%;
    min-width: 40%;
    min-height: 40%;
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    display: flex;
    flex-direction: column;
}
.dialogBoxMain>*{
    padding: 10px;
}
.dialogBoxHeader, .dialogBoxActions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 33px;
    transition-duration: 0.3s;
    border-bottom: 2px solid rgb(128,0,0);
    border-radius: 7px 7px 0 0;
    cursor: pointer;
}
.dialogBoxHeader:hover{
    background-color: rgb(164,0,0);
}
.dialogBoxTitle{
    font-size: x-large;
}
.dialogBoxHeader>img{
    width: 50px;
    height: 50px;
}
.dialogBoxContent{
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.dialogBoxActions{
    cursor: auto;
    border-bottom: none;
    border-top: 2px solid rgb(128,0,0);
    border-radius: 0 0 7px 7px;
    display: flex;
    justify-content: space-evenly;
}
.dialogBoxActions>button{
    width: 100px;
    height: 45px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    font-size: large;
    cursor: pointer;
    transition-duration: 0.3s;
}
.dialogBoxActions>button:hover{
    scale: 1.05;
}


.dialogBoxDanger{
    background-color: rgb(255,0,0);
    border-color: rgb(128,0,0);
    color: white;
    button{
        background-color: rgb(255,0,0);
        border-color: rgb(128,0,0);
        color: white;
    }
    button:hover{
        background-color: rgb(200,0,0);
    }
    button:active{
        background-color: rgb(128,0,0);
    }
}