.menuButtons{
    position: absolute;
    left: 20px;
    top: 0;
    height: 100vh;
    min-width: 100px;
    max-width: fit-content;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: visible;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.menuButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    min-width: 50px;
    height: 50px;
    position: relative;
    transition-duration: 0.3s;
}
.menuIcon{
    z-index: 2;
    border-radius: 4px;
    border-width: 3px;
    border-style: solid;
    position: absolute;
    width: 45px;
    height: 45px;
    transition-duration: 0.3s;
}
.menuButton:hover{
    .menuButtonText{
        left: 60px;
        opacity: 1;
    }
}
.menuButtonText{
    position: absolute;
    transition-duration: 0.3s;
    width: fit-content;
    min-width: 100px;
    font-size: larger;
    left: 0;
    opacity: 0;
    color: white;
    z-index: 1;
}
.openMenu{
    background-color: blue;
    border-color: rgb(0,0, 128);
}
.openMenu:hover{
    background-color: rgb(0,0, 128);
}

.openInformation{
    background-color: rgb(255, 128,0);
    border-color: rgb(128,64, 0);
}
.openInformation:hover{
    background-color: rgb(128,64, 0);
}

.openSettings{
    background-color: rgb(128, 128, 128);
    border-color: rgb(64,64,64);
}
.openSettings:hover{
    background-color: rgb(64,64,64);
}

.openStory{
    background-color: rgb(128, 128, 64);
    border-color: rgb(64, 64, 32);
}
.openStory:hover{
    background-color: rgb(64, 64, 32);
}

.openMap{
    background-color: rgb(0, 64, 255);
    border-color: rgb(0, 32,128);
}
.openMap:hover{
    background-color: rgb(0, 32,128);
}

.openStats{
    background-color: rgb(0, 128, 0);
    border-color: rgb(0,96,0);
}
.openStats:hover{
    background-color: rgb(0,96,0);
}

.closeMenu{
    background-color: rgb(255,0,0);
    border-color: rgb(128,0,0);
}
.closeMenu:hover{
    background-color: rgb(128,0,0);
}

@keyframes menuButtonDisappear {
    from{
        left: 0;
        opacity: 1;
    }
    to{
        left: -100px;
        opacity: 0;
    }
}
@keyframes menuButtonAppear {
    from{
        left: -100px;
        opacity: 0;
    }
    to{
        left: 0;
        opacity: 1;
    }
}

.menuButtonDisappear{
    animation: menuButtonDisappear 0.5s forwards;
}

.menuButtonAppear{
    animation: menuButtonAppear 0.5s forwards;
}