.notifications{
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 1000;
    width: 250px;
    height: fit-content;
    overflow: hidden;
}
.notification{
    border: 4px solid white;
    background-color: white;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    text-align: center;
    animation: notificationAppear 0.5s forwards;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.notificationTitle{
    font-size: 18px;
    font-weight: bold;
}
.notificationDescription{
    font-size: 14px;
}

@keyframes notificationAppear {
    0% { opacity: 0; }
    100% { opacity: 1;}
}

@keyframes fadeOut {
    0% { opacity: 1; display: flex; }
    99% { opacity: 0; display: flex; }
    100% { opacity: 0; display: none; }
}
.notificationDisappear{
    animation: fadeOut 0.5s forwards;
}