.mainSettings{
    background-color: rgb(128,128,128);
    border: 7px solid rgb(96,96,96);
    width: 80%;
    height: 80%;
}
.settings{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.setting{
    display: flex;
    flex-direction: row;
    align-items: center;
}