.menuButton{
    position: absolute;
    bottom: 15px;
    left: calc(50% - 75px);
    transform: translateX(-50%);
    background-color: rgb(50, 150, 200);
    border: 2px solid white;
    border-radius: 10px;
    width: 100px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.3s;
    font-size: 35px;
}
.menuButton:hover{
    background-color: rgb(50, 150, 200, 0.8);
}
.menuButton::before{
    content: url('../components/icons/menuOpen.png');
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.35;
    color: white;
    font-size: 14px;
}

.openMapButton{
    position: absolute;
    bottom: 15px;
    left: calc(50% + 75px);
    transform: translateX(-50%);
    background-color: rgb(0, 128, 255);
    border: 2px solid white;
    border-radius: 10px;
    width: 100px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.3s;
    font-size: 35px;
}
.openMapButton:hover{
    background-color: rgb(0, 128, 255, 0.8);
}
.openMapButton::before{
    content: url('../components/icons/map.png');
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.35;
    color: white;
    font-size: 14px;
}

.closeButton{
    background-color: rgb(200, 50, 50);
    border: 2px solid white;
}
.closeButton:hover{
    background-color: rgb(200, 50, 50, 0.8);
}
.closeButton::before{
    content: url('../components/icons/menuClose.png');
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.35;
    color: white;
    font-size: 14px;
}

.mainMenuBase{
    position: absolute;
    top: calc(50% - 50px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: calc(80% - 100px);
    border-radius: 25px;
    border-width: 5px;
    border-style: solid;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}
